@charset "utf-8";

/*标题文字*/
h1 {
	color: #fff;
	padding-top: 100px;
}

/*主内容区*/
#content {
	width: 960px;	
	margin: 50px auto 0;		
}

#content ul {
	width: 980px;
	/*margin-right: -20px;*/
}

#content ul li {
	float: left;
	margin-right: 20px;
}

#content ul li a {
	display: block;
	width: 225px;
	height: 180px;
	position: relative;
	/*远近度*/
	perspective: 500px;
}

/*正面内容*/
#content .forward {
	transition: all 0.8s;
	/*背面不可视*/
	backface-visibility: hidden;
	position: absolute;
	top:0;
	left: 0;
	z-index: 1;
}

#content a:hover .forward {
	transform: rotateY(-180deg);
}

#content ul li a img {
	display: block;
}

/*提示条*/
#content .forward .tips {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 24px;
	background: rgba(0,0,0,0.5);
	text-align: center;
	color: #FFFFFF;
}

/*反面内容*/
#content .back {
	width: 225px;
	height: 180px;
	background: url(../images/bg.jpg) no-repeat;
	position: absolute;
	top:0;
	left:0;
	
	transition: all 0.8s;	
	/*初始默认翻转180度*/
	transform: rotateY(180deg);
}

#content a:hover .back {
	transform: rotateY(0deg);
}

#content .back h3 {
	color: #ffffff;
	line-height: 16px;
	border-bottom:1px dashed #ffffff;
	padding: 15px 0;
	text-align: center;
	margin-bottom: 15px;
}

#content .back p {
	color: #FFFFFF;
	font-size: 12px;
	line-height: 18px;
	text-indent: 2em;
	padding: 0 10px;
}